body {
  font-size: 14px;
  font-family: "Raleway";
  color: $text;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
  color: $white;
  border: none;
  border-radius: $radius;

  @include btn;
}
.title {
  margin-bottom: 25px;
  @include section-text-title($text);
}
.descr {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
  @include section-text-description($text);
}
