.header {
  padding-top: 40px;
  position: relative;
  z-index: 100;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 0;
  }
  &__nav {
  }
  &__soc {
    border-radius: 70px;
    padding: 5px 15px;
    background-color: rgba(#c4c4c4, 0.2);
    display: flex;
    align-items: center;
    gap: 12px;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__item {
    font-size: 0;
  }
  &.white {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    padding: 35px 0 33px 0;
    .header__soc {
      background-color: transparent;
    }
  }
}
